@charset "utf-8";


body{ background-color: #fff; }
.red_con{
	.red_nav{ width: 244px; height: 100%; position: fixed; background-color: #fff; text-align: center; 
		.logo{ margin: 44px 0 30px; }
		li{ height: 60px; line-height: 1; 
			a{ font-size: 14px; color: #aaabab; }
		}
		.connect{ color: #000; font-size: 17px; }
	}
}
.red_main{ margin-left: 244px; min-width: 1200-244px; }
.red_lun{ width: 100%; height: 100%; position: relative;
	.swiper-container{ height: 100%;width: 100%; }
	.content-slide{ color: #fff; }
	.title{font-size: 25px;margin-bottom: 10px;}
	.pagination{ position: absolute;left: 0;text-align: center;bottom:5px;width: 100%; z-index: 2; }
	.swiper-pagination-switch {display: inline-block;width: 10px;height: 10px;border-radius: 10px;background: #fff; margin: 0 4px;cursor: pointer; }
	.swiper-active-switch {background: #d61518; }
	.swiper-slide{ position: relative; overflow: hidden;
		img{ height: 100%; width: 100%;
			// position: absolute;  top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); 
		}
	}
}
.red_index_main1{ padding-right: 25px; 
	.detialmains{
		.detialmain{ display: none;

		}
		.on{ display: block; }
	}
}