@charset "utf-8";
%ty_icon { background: url("../images/ty_sp.png") no-repeat 0 0; }
%ty_icon2 { background: url("../images/ty_sp2.png") no-repeat 0 0; }
%ty_red_bac { background: url('../images/ty_red_bac.png'); }
%ty_where_bac { background: url('../images/where_bac.png'); }
%ty_black_bac { background: url('../images/ty_black_bac.png'); }
%ty_black_bac15 { background: url('../images/blackbac15.png'); }
@media screen and (min-width:0px) and (max-width:1459px){
	
}
@media screen and (min-width:1460px) and (max-width:1540px){
	
}
@function pxt($px){
	@return $px/1.5*1px;
}
@function pxt2($px){
	@return $px/1.2*1px;
}
// 公共部分
body{ font-family: "黑体"; }
.wx_header{ width: 100%; min-width: 1280px; max-width: 1540px; background-color: #fff; margin: 0 auto; 
	.logo{ width: pxt(191); float: left; padding: pxt(25) pxt(35) pxt(60) pxt(50);
		img{ display: block; width: 100%; height: auto; }
	}
	.leftlist{ margin-left: pxt(191+85); padding-top: pxt(50); 
		.tit{ font-size: pxt(25); color: #000; padding-left: pxt(15); }
		.tit2{ font-size: pxt(45); color: #000; font-style: italic; font-family: "Arial"; padding-left: pxt(15); }
	}
	.list1{ float: left; }
	.list2{ float: right; }
	.navlist{ @extend .clearfix;
		ul{ @extend .clearfix; }
		li{ float: left; 
			a{ font-size: pxt(22); color: #000; display: block; text-align:justify; text-justify:inter-word; min-width: pxt(60); margin-right: 10px; padding: 6px 15px; line-height: 20px; height: 42px;
				span{ display: inline-block; text-align: center; width: 100%; }
				&:after{ display:inline-block; overflow:hidden; width:100%; height:0; content:''; vertical-align:top; }
			}
		}
		.list1{
			a{
				&:hover{ color: #c1c1c1; }
			}
			.on{
				a{ color: #fff; background-color: #1994e1; border-radius: 3px; }
			}
		}
		.list2{
			a{
				&:hover{ color: #1994e1; }
			}
		}
	}
}
.contact_bar{ position: absolute; right: 20px; top: 186px; z-index: 5; background-image: url(../images/blue80bac.png); color: #fff; width: pxt(700); height: pxt(915); box-shadow: 0 0 4px rgba(0,0,0,.5); overflow: hidden; text-align: left; display: none;
	.tit{ font-size: pxt2(38); height: pxt2(70); line-height: pxt2(70); padding-left: pxt2(50); position: relative; background-color: #1994e1; }
	.icon_close{ display: inline-block; width: 60px; height: 60px; text-align: center; right: 10px; top: 0; font-size: pxt2(62); position: absolute; font-style: normal; cursor: pointer; }
	.con{ padding: pxt2(20) pxt2(86) pxt2(80) pxt2(55); height: 430px;
		img{ width: 100%; margin-bottom: 12px; }
		.p1{ font-size: pxt2(38); line-height: pxt2(40); padding: pxt2(38) 6px 0 6px; }
		.p2{ font-size: pxt2(25); line-height: pxt2(40); padding: 20px 6px 0; }
	}
}
.wx_con{
	.con_all{ width: 100%; min-width: 1280px; 
		.wx_lunbo{ width: 100%; height: 100%; position: relative;
			img{ width: 100%; height: 100%; display: block; }
		}
		.hd{ position: absolute; z-index: 2; text-align: center; bottom: 20px; left: 0; width: 100%; 
			li{ display: inline-block; width: 8px; height: 8px; border-radius: 8px; border:2px solid #fff; margin: 0 8px; cursor: pointer; }
			.on{ background-color: #fff; }
		}
	}
	.btn{ display: inline-block; width: pxt2(230); height: pxt2(56); line-height: pxt2(58); color: #1994e1; border: 2px solid #1994e1; font-size: pxt2(25); text-align: center; font-size: pxt2(30); 
		&:hover{ color: #fff; border: 2px solid #1994e1; background-color: #1994e1; }
	}
}
.wx_footer{ width: 100%; min-width: 1280px; height: pxt2(360); background-color: #fff; }
.wx_footerIn{ width: 1280px; margin: 0 auto; @extend .clearfix; font-size: pxt2(25);
	.ewm{ float: left; width: pxt2(164); margin-right: pxt2(60); padding-top: pxt2(70);  text-align: center;
		img{ width: 100%; }
		p{ width: 100%; padding-top: 12px; } 
	}
	.detial{ float: left; line-height: pxt2(38); padding: pxt2(70) 0 0 pxt2(90); }
	.connect{ float: right; padding-top: pxt2(70); line-height: pxt2(38);
		.p2{ font-size: pxt2(38); }
	}
}
//  
.wx_about{ background-color: #e7e7e7; height: pxt2(456); @extend .clearfix; width: 100%; min-width: 1280px;
	.wx_aboutIn{ width: 1280px; margin: 0 auto; position: relative; }
	.limg{ width: pxt2(430-44); height: pxt2(514-44); padding: pxt2(22); position: absolute; top: pxt2(-133); left: 10px;
		img{ width: 100%; height: 100%; position: relative;z-index: 3; }
		.bar1{ height: pxt2(133); width: 100%; position: absolute; top: 0; left: 0; display: block; background-color: #000; z-index: 2; }
		.bar2{ height: 100%; width: 100%; position: absolute; top: 0; left: 0; display: block; background-color: #1994e1; z-index: 1; }
	}
	.rightde{ float: right; @extend .clearfix;
		.l{ width: pxt2(700); font-size: pxt2(25); line-height: 32px; color: #000; float: left; padding-top: pxt2(40); 
			p{ margin-bottom: pxt2(20); height: 32*7px; overflow: hidden; width: 100%; }
		}
		.r{ width: pxt2(300); float: left; @extend .clearfix; padding-top: pxt2(90);
			.btn{ float: right; margin-bottom: pxt2(42); font-size: pxt2(25); }
		}
	}
}
.wx_business{ width: 100%; min-width: 1280px; background-color: #fff; height: pxt2(1026);
	>ul{ @extend .clearfix; width: 1280px; margin: 0 auto; display: block; height: 100%; 
		>li{ width: 25%; text-align: center; float: left; height: 100%; transition: all .8s ease; -webkit-transition: all .8s ease; position: relative; z-index: 3;
			>img{ width: pxt2(190); height: pxt2(190); padding-top: pxt2(125); }
			>h3{ font-size: pxt2(38); padding-top: pxt2(70); }
			>p{ font-size: pxt2(25); line-height: 40px; padding-top: 20px; height: 40*8px; }
			&:hover{ transform: scale(1.05); -webkit-transform: scale(1.05); background-color: #efeeee; box-shadow: 0 0 5px rgba(0,0,0,.5) }
		}
	}
	.on{ z-index: 4; 
		.contact_bar{  }
	}
	.contact_bar{  left: 100px; z-index: 7; display: none; }
	.contact_bar2{ left: auto; right: 100px; }
	.btn{ margin-top: pxt2(50); }
}
.wx_studio{ background-color: #e7e7e7; height: pxt2(915); width: 100%; min-width: 1280px; }
.wx_studioIn{ width: 1280px; margin: 0 auto; position: relative; @extend .clearfix;
	.leftdiv{ float: left; width: pxt2(920); 
		h3{ font-size: pxt2(38); padding-top: pxt2(120); }
		.de{ font-size: pxt2(25); padding-top: pxt2(26); line-height: 40px; }
	}
	.deimg{ padding-top: pxt2(70);
		img{ width: pxt2(362); height: pxt2(350); float: left; }
		p{ float: right; width: pxt2(480); font-size: pxt2(25); line-height: 38px; }
		.btn{ float: left; margin-left: 68px; margin-top: 50px; }
	}
	.rightdiv{ float: right; width: pxt2(530); padding-top: pxt2(120); 
		h4{ color: #1994e1; font-size: pxt2(63); line-height: pxt2(70); position: absolute; right: 0; bottom: 0; }
		img{ width: 100% }
	}
}
// 视频内容页面
.video_con{ width: 100%; min-width: 1280px; @extend .clearfix;
	.leftbar{ float: left; width: 25%; color: #fff; background-color: #000; height: 100%; }
	.rightbar{ float: left; width: 75%; height: 100%;
		img{ width: 100%; height: 100%; display: block;}
	}
	.leftbarIn{ padding: 0 8% 0 10%; 
		h2{ font-size: pxt2(38); padding: 30px 0 50px; }
		h3{ font-size: pxt2(38); padding: 30px 0 20px; }
		p{ font-size: pxt2(25); line-height: 40px; }
		img{ width: auto; max-width: 100%; }
	}
}
.video_con .slideBox{ position: relative; 
	.prev{ width: 83px; height: 87px; -webkit-transform: translateY(-50%); position: absolute; left: 30px; top: 50%; background-image: url(../images/left.png); z-index: 7; }
	.next{ width: 83px; height: 87px; -webkit-transform: translateY(-50%); position: absolute; right: 30px; top: 50%; background-image: url(../images/right.png); z-index: 7; }
}
.wx_list_f{ width: 100%; height: 100%; @extend .clearfix; 
	li{ float: left; width: 25%; height: 100%; display: block; position: relative; 
		.in{ display: block; height: 100%; display: block; transition: all .4s ease; -webkit-transition: all .4s ease; box-shadow: 0 0 6px rgba(0,0,0,.8); position: relative;
			&:hover{ transform: scale(1.05); -webkit-transform: scale(1.05); z-index: 3; 
				.bar{ opacity: 1; filter: alpha(opacity=100);}
			}
		}
	}
	img{ width: 100%; height: 100%; display: block; }
	.bar{ width: 100%; height: pxt2(180); position: absolute; background-image: url(../images/white70bac.png); left: 0; bottom: 0; color: #2294eb; opacity: 0; filter: alpha(opacity=0); transition: all .4s ease; -webkit-transition: all .4s ease;
		h3{ font-size: pxt2(35); color: #2294eb; padding:15px 0 0 50px;
			a{ color: #2294eb;  }
			&:hover{ text-decoration: underline; }
		}
		p{ font-size: pxt2(26); line-height: pxt2(40); padding: 15px 0 0 50px; }
	}
	.more_icon{ position: absolute; right: 20px; bottom: 20px; width: 32px; height: 32px; background-image: url(../images/more_icon.png); cursor: pointer; }
}
.workleft{ float: left; width: 25%; height: 100%; background-color: #000; position: relative; 
	.rightbar{ position: absolute; right: -30px; top: 20px; width: 30px; height: 254px; background-image: url(../images/blackbar.png); z-index: 3;
		.back_icon,.t_icon,.b_icon{ width: 24px; height: 24px; display: block; position: absolute; left: 0 	px; cursor: pointer; }
		.back_icon{ top: 55px; background-image: url(../images/back_icon.png); }
		.t_icon{  top: 109px; background-image: url(../images/up_icon.png);  }
		.b_icon{ top: 163px; background-image: url(../images/down_icon.png); }
	}
	.wlIn{ width: 100%; height: 100%; 
		li{ width: 33%; float: left; position: relative; overflow: hidden; 
			a{ display: block; width: 90%; height: 90%; margin: 5%; position: relative; z-index: 3; overflow: hidden; }
			img{ width: 100%; height: 100%; display: block; transition: all .8s ease; -webkit-transition: all .8s ease; }
			&:hover{
				img{ transform: scale(1.1); -webkit-transform: scale(1.1); }
			}
		}
        .bar{ width: 100%; height: 50%; position: absolute; background-color: #1994e1; left: 0; bottom: 0; z-index: 2; display: none; }
        .on{
          .bar{ display: block; }
        }
	}
}
.video_oh{ overflow: hidden; }
.workright{ float: left; width: 75%; height: 100%; 
	img{ display: block; width: 100%; height: 100% }
	.hd{ display: none; }
	.slideBox{ height: 100%;
		.bd{ height: 100%; 
			ul{ height: 100%; 
				li{ height: 100%; }
			}
		}
	}
}
