@charset "utf-8";
$minW:1260px;
body{ font-family: '微软雅黑'; min-width: 1366px; background-color: #fff; }
.ty_header{ height: 132px; @extend .clearfix;
	.logo{ margin-left: 10%; float: left; margin-top: 23px; }
	.ty_Hlist{ margin-left: 8%; width: 330px; float: left; padding-top: 35px;
		ul{ display: none; padding-bottom: 15px; @extend .clearfix; }
		h2{ line-height: 34px; font-size: 18px; color: #595757; }
		li{ float: left; font-size: 11px; padding: 0 10px; border-left: 1px solid #aaa8a8; height: 12px; line-height: 12px; margin-top: 32px; position: relative;
			a{ color: #3e3a39; }
			&:first-child{ padding-left: 0; border-left: 0; 
				i{ margin-left: -13px; }
			}
			i{ position: absolute; top: -30px; left: 50%; width: 16px; height: 11px; @extend %ty_sp; background-position: -168px 0; margin-left: -8px; display: none; }
			&:hover{
				i{ display: block; }
			}
		}
		&:hover{ cursor: pointer;
			h2{ color: #009ee7; }
			ul{ display: block; }
		}
	}
	.t1{
		h2{
			i{  }
		}
	}
	.connectBar{ width: 300px; float: right; }
}
.ty_index_nums{ text-align: center; margin-bottom: 120px; padding-top: 92px;
	ul{ width: 1260px; margin: 0 auto; @extend .clearfix;
		li{ width: 420-37px; height: 400px; border-left: 1px solid #4c4847; float: left; padding: 0 18px;
			&:first-child{ border-left: 0; }
		}
	}
	.about{ margin-bottom: 70px;
		.num{ font-size: 49px; color: #4c4948; display: inline-block; line-height: 50px; }
		.text{ font-size: 25px; color: #4c4948; display: inline-block; line-height: 28px; margin-left: 10px; }
		em{ color: #707473; font-size: 12px; line-height: 14px; display: block; text-align: left }
	}
	p{ text-align: left; text-align: justify; font-size: 12px; color: #707473; line-height: 22px; }
	.partner,.import,.cooperation{ display: inline-block; width: 112px; height: 111px; margin-bottom: 35-22px; @extend %ty_sp; position: relative; top: -22px; }
	.partner{ background-position: 0 -24px; }
	.import{ background-position: -112px -24px; }
	.cooperation{ background-position: -224px -24px; }

}
.ty_index_about{ height: 510px; width: 100%; background-color: #009ee7; margin-bottom: 55px;
	.ty_index_aboutIn{ width: 1260px; height: 100%; margin: 0 auto; position: relative; }
	img{ float: left; padding: 74px 0; width: 537px; height:363px; }
	.right{ padding: 74px 0; float: right; width: 630px; color: #fff;
		h3{ font-size: 22px; display: block; padding-top: 50px; line-height: 26px; }
		span{ display: block; font-size: 15px; line-height: 18px; }
		p{ padding-top: 20px; font-size: 12px; }
	}
	.more{ position: absolute; width: 60px; height: 17px; right: 0; bottom: 90px; font-size: 11px; border: 1px solid #fff; color: #fff; text-align: center; line-height: 17px; }
}
.ty_index_solutions{ width: 1260px; margin: 0 auto;
	.top{ padding: 112px 0 60px; @extend .clearfix; 
		.left{ float: left; height: 42px; 
			span{ font-size: 22px; color: #3e3a39; line-height: 24px; }
			em{ display: block; font-size: 15px; color: #707473; line-height: 18px; }
		}
		ul{ float: right; 
			li{ float: left; font-size: 16px; color: #3e3a39; padding: 0 16px; height: 18px; line-height: 18px; border-left: 1px solid #000; cursor: pointer; position: relative;
				&:first-child{ border-left: 0; }
				i{ position: absolute; left: 50%; margin-left: -11px; width: 22px; height: 18px; top: 38px; @extend %ty_sp; background-position: -146px 0; display: none; }
				&:hover{ color: #009ee7; }
			}
			.on{ color: #009ee7; 
				i{ display: block; }
			}
		}
	}
	.bottom{ width: 1260px; height: 340px; 
		li{ display: none; width: 1258px; height: 338px; border:1px solid #3e3a39; position: relative; overflow: hidden; }
		.on{ display: block; }
		.left{ float: left; width: 500px; height: 338-70px; padding: 70px 0 0 60px; position: relative;
			h3{ font-size: 22px; color: #3e3a39; line-height: 30px; margin-bottom: 15px;
				span{ display: block; font-size: 15px; color: #707473; line-height: 20px; }
			}
			p{ font-size: 12px; color: #3e3a39; line-height: 24px; }
			.more{ position: absolute; right: 38px; font-size: 12px; bottom: 28px; width: 60px; height: 20px; line-height: 20px; color: #fff; background-color: #009ee7; text-align: center; }
		}
		.right{ float: right; 
			img{ width: 598px; height: 338px; display: block; }
		}
	}
}
.ty_index_good{ height: 530px; width: 100%; min-width: 1366px; background-color: #05060b; position: relative; margin-top: 260px;
	.ty_index_goodIn{ width: 1260px; margin: 0 auto; position: relative; z-index: 3; }
	img{ position: absolute; left: 50%; top: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); height: 100%; z-index: 2; }
	.adv{ width: 345px; position: absolute; background-color: #009ee7; padding: 0 10px 50px; left: 0; top: -100px; text-align: center; }
	.top{ height: 100px; border-bottom: 1px solid #80cff3; margin-bottom: 44px; text-align: left;
		h3{ font-size: 22px; color: #fff; float: left; line-height: 24px; padding: 28px 0 0 20px; }
		em{ display: block; font-size: 15px; line-height: 18px; opacity: 0.56;
		filter: alpha(opacity=56); }
		i{ position: absolute; right: 60px; top: 28px; width: 62px; height: 45px; @extend %ty_sp; background-position: -90px -135px; }
	}
	.advs{ @extend .clearfix; text-align: left; padding-bottom: 15px;
		li{ margin-bottom: 36px; height: 36px; line-height: 36px; color: #fff; overflow: hidden;
			em{ text-align: center; display: inline-block; width: 102px; height: 36px; background-color: #006fb4; color: #fff; margin-right: 16px; }
			i{ width: 28px; height: 27px; display: inline-block; vertical-align: middle; margin-right: 12px; @extend %ty_sp; background-position: -62px -135px; }
		}
	}
	.more{ display: inline-block; font-size: 12px; bottom: 28px; width: 60px; height: 20px; line-height: 20px; color: #009ee7; background-color: #fff; text-align: center; }
}
.ty_connect{ width: 100%; min-width: 1366px; background-color: #eef1f6;
	
}
.ty_footer{ height: 44px; line-height: 44px;
	p{ padding-right: 116px; text-align: right; font-size: 12px; color: #555; }
}