@charset "utf-8";
$minW:1260px;
body{ font-family: '微软雅黑'; min-width: 1366px; background-color: #fff; }
.body_type2{ background-color: #eef1f6; } 
input{ outline: none; }
.ty_header{ height: 132px; @extend .clearfix;
	.logo{ margin-left: 10%; float: left; margin-top: 23px; }
	.ty_Hlist{ margin-left: 8%; width: 330px; float: left; padding-top: 35px;
		ul{ display: none; padding-bottom: 15px; @extend .clearfix; }
		h2{ line-height: 34px; font-size: 18px; color: #595757; }
		li{ float: left; font-size: 11px; padding: 0 10px; border-left: 1px solid #aaa8a8; height: 12px; line-height: 12px; margin-top: 32px; position: relative;
			a{ color: #3e3a39; }
			&:first-child{ padding-left: 0; border-left: 0; 
				i{ margin-left: -13px; }
			}
			i{ position: absolute; top: -30px; left: 50%; width: 16px; height: 11px; @extend %ty_sp; background-position: -168px 0; margin-left: -8px; display: none; }
			&:hover{
				i{ display: block; }
			}
		}
		&:hover{ cursor: pointer;
			h2{ color: #009ee7; }
			ul{ display: block; }
		}
	}
	.t1{
		h2{
			i{ width: 25px; height: 24px; display: inline-block; vertical-align: -5px; @extend %ty_sp; background-position: -25px 0; margin-right: 12px; }
		}
		&:hover{
			h2{
				i{ background-position: 0 0; }
			}
		}
	}
	.t2{
		h2{
			i{ width: 25px; height: 21px; display: inline-block; vertical-align: -4px; @extend %ty_sp; background-position: -75px 0; margin-right: 12px; }
		}
		&:hover{
			h2{
				i{ background-position: -50px 0; }
			}
		}
	}

	.connectBar{ width: 300px; float: right; padding-top: 45px;
		.p1{ height: 12px; line-height: 12px; font-size: 12px; color: #3e3a39; margin-bottom: 14px; 
			a{ padding: 0 14px; 
				&:first-child{ border-right: 1px solid #6e7273; }
			}
			span{ margin-left: 18px; }
		}
		.p2{
			.search{ width: 120px; height: 20px; display: inline-block; position: relative;
				input{ padding-right: 30px; width: 88px; border-radius: 20px; border: 1px solid #6e7273; height: 18px; line-height: 18px; text-indent: 12px; }
				.ss{ width: 17px; height: 16px; position: absolute; @extend %ty_sp; background-position: -100px 0; right: 12px; top: 2px; }
			}
			.phone{ margin-left: 18px; font-size: 15px; color: #3e3a39;
				i{ width: 29px; height: 21px; @extend %ty_sp; background-position: -117px 0; display: inline-block; vertical-align: -4px; margin-right: 8px; }
			}
		}
	}
}
.ty_index_nums{ text-align: center; margin-bottom: 120px; 
	ul{ width: 1260px; margin: 0 auto; @extend .clearfix; padding-top: 92px;
		li{ width: 420-37px; height: 400px; border-left: 1px solid #4c4847; float: left; padding: 0 18px;
			&:first-child{ border-left: 0; }
		}
	}
	.about{ margin-bottom: 70px;
		.num{ font-size: 49px; color: #4c4948; display: inline-block; line-height: 50px; }
		.text{ font-size: 25px; color: #4c4948; display: inline-block; line-height: 28px; margin-left: 10px; }
		em{ color: #707473; font-size: 12px; line-height: 14px; display: block; text-align: left }
	}
	p{ text-align: left; text-align: justify; font-size: 12px; color: #707473; line-height: 22px; }
	.partner,.import,.cooperation{ display: inline-block; width: 112px; height: 111px; margin-bottom: 35-22px; @extend %ty_sp; position: relative; top: -22px; }
	.partner{ background-position: 0 -24px; }
	.import{ background-position: -112px -24px; }
	.cooperation{ background-position: -224px -24px; }

}
.ty_index_about{ height: 510px; width: 100%; background-color: #009ee7; margin-bottom: 55px;
	.ty_index_aboutIn{ width: 1260px; height: 100%; margin: 0 auto; position: relative; }
	img{ float: left; padding: 74px 0; width: 537px; height:363px; }
	.right{ padding: 74px 0; float: right; width: 630px; color: #fff;
		h3{ font-size: 22px; display: block; padding-top: 50px; line-height: 26px; }
		span{ display: block; font-size: 15px; line-height: 18px; }
		p{ padding-top: 20px; font-size: 12px; }
	}
	.more{ position: absolute; width: 60px; height: 17px; right: 0; bottom: 90px; font-size: 11px; border: 1px solid #fff; color: #fff; text-align: center; line-height: 17px; }
}
.ty_index_solutions{ width: 1260px; margin: 0 auto;
	.top{ padding: 112px 0 60px; @extend .clearfix; 
		.left{ float: left; height: 42px; 
			span{ font-size: 22px; color: #3e3a39; line-height: 24px; }
			em{ display: block; font-size: 15px; color: #707473; line-height: 18px; }
		}
		ul{ float: right; 
			li{ float: left; font-size: 16px; color: #3e3a39; padding: 0 16px; height: 18px; line-height: 18px; border-left: 1px solid #000; cursor: pointer; position: relative;
				&:first-child{ border-left: 0; }
				i{ position: absolute; left: 50%; margin-left: -11px; width: 22px; height: 18px; top: 38px; @extend %ty_sp; background-position: -146px 0; display: none; }
				&:hover{ color: #009ee7; }
			}
			.on{ color: #009ee7; 
				i{ display: block; }
			}
		}
	}
	.bottom{ width: 1260px; height: 340px; 
		li{ display: none; width: 1258px; height: 338px; border:1px solid #3e3a39; position: relative; overflow: hidden; }
		.on{ display: block; }
		.left{ float: left; width: 500px; height: 338-70px; padding: 70px 0 0 60px; position: relative;
			h3{ font-size: 22px; color: #3e3a39; line-height: 30px; margin-bottom: 15px;
				span{ display: block; font-size: 15px; color: #707473; line-height: 20px; }
			}
			p{ font-size: 12px; color: #3e3a39; line-height: 24px; }
			.more{ position: absolute; right: 38px; font-size: 12px; bottom: 28px; width: 60px; height: 20px; line-height: 20px; color: #fff; background-color: #009ee7; text-align: center; }
		}
		.right{ float: right; 
			img{ width: 598px; height: 338px; display: block; }
		}
	}
}
.ty_index_good{ height: 530px; width: 100%; min-width: 1366px; background-color: #05060b; position: relative; margin-top: 260px;
	.ty_index_goodIn{ width: 1260px; margin: 0 auto; position: relative; z-index: 3; }
	.out{ position: absolute; width: 100%; height: 100%; overflow: hidden; }
	img{ position: absolute; left: 50%; top: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); height: 100%; z-index: 2; }
	.adv{ width: 345px; position: absolute; background-color: #009ee7; padding: 0 10px 50px; left: 0; top: -100px; text-align: center; }
	.top{ height: 100px; border-bottom: 1px solid #80cff3; margin-bottom: 44px; text-align: left;
		h3{ font-size: 22px; color: #fff; float: left; line-height: 24px; padding: 28px 0 0 20px; }
		em{ display: block; font-size: 15px; line-height: 18px; opacity: 0.56;
		filter: alpha(opacity=56); }
		i{ position: absolute; right: 60px; top: 28px; width: 62px; height: 45px; @extend %ty_sp; background-position: -90px -135px; }
	}
	.advs{ @extend .clearfix; text-align: left; padding-bottom: 15px;
		li{ margin-bottom: 36px; height: 36px; line-height: 36px; color: #fff; overflow: hidden;
			em{ text-align: center; display: inline-block; width: 102px; height: 36px; background-color: #006fb4; color: #fff; margin-right: 16px; }
			i{ width: 28px; height: 27px; display: inline-block; vertical-align: middle; margin-right: 12px; @extend %ty_sp; background-position: -62px -135px; }
		}
	}
	.more{ display: inline-block; font-size: 12px; bottom: 28px; width: 60px; height: 20px; line-height: 20px; color: #009ee7; background-color: #fff; text-align: center; }
}
.ty_connect{ width: 100%; min-width: 1366px; background-color: #eef1f6; height: 635px;
	.ty_connectIn{ width: 1260px; margin: 0 auto; padding-top: 90px; }
	.left{ float: left; width: 750-18px; padding-left: 18px;
		img{ float: left; }
	}
	.detial{ float: left; font-size: 16px; line-height: 30px; color: #3e3a39; margin-left: 28px; }
	.right{ float: right; width: 480px; 
		.text{ width: 428-30px; height: 29px; line-height: 29px; border:1px solid #3d3936; padding: 0 15px; margin-bottom: 20px; font-size: 13px; font-family: '微软雅黑' }
		textarea{ width: 428-30px; height: 69px; line-height: 29px; border:1px solid #3d3936; padding: 0 15px; margin-bottom: 20px; font-size: 13px; font-family: '微软雅黑' }
		.submit{ width: 56px; height: 22px; color: #fff; background-color: #0091d2; border: 0; text-align: center; line-height: 23px; font-size: 13px; cursor: pointer; }
		::-webkit-input-placeholder { color: #3e3a39; } 
		::-webkit-textarea-placeholder { color: #3e3a39; } 
		:-moz-placeholder { color: #3e3a39; } 
		::-moz-placeholder { color: #3e3a39; }
		:-ms-input-placeholder { color: #3e3a39; } 
		:-ms-textarea-placeholder { color: #3e3a39; } 
	}
}
.ty_top{ font-size: 22px; color: #3e3a39; height: 45px; line-height: 45px; width: 100%; float: left; margin-bottom: 100px;
	i{ display: inline-block; vertical-align: middle; width: 62px; height: 45px; @extend %ty_sp; background-position: 0 -135px; margin-left: 46px; }
}
.ty_footer{ height: 44px; line-height: 44px;
	p{ padding-right: 116px; text-align: right; font-size: 12px; color: #555; }
}
.ty_lunbo{ height: 570px; width: 100%; min-width: 1366px; overflow: hidden; padding-bottom: 100px;
	.swiper-slide{ height: 570px; overflow: hidden; position: relative;
		img{ position: absolute; top: 0; left: 50%; ransform: translateX(-50%); -webkit-transform: translateX(-50%); height: 100%; }
	}
	.pagination{ text-align: center; height: 1px; line-height: 1px;
		.swiper-pagination-switch{ width: 40px; height: 1px; background-color: #b3b3b4; display: inline-block; margin: 40px 0 48px 8px; cursor: pointer;
			&:first-child{ margin-left: 0;  }
		}
		.swiper-active-switch{ background-color: #009ee7; }
	}
}
// 关于
.ty_about_nums{
	ul{ background-color: #fff; padding-bottom: 66px; }
}
.ty_about_text{ width: 1210px; padding: 0 25px; margin: 0 auto;
	p{ color: #707473; font-size: 12px; line-height: 28px; }
}
.body_type2{
	.ty_footer{ background-color: #fff; }
	.ty_index_good{ height: 585px; margin-top: 330px; }
}
.ty_bac_w{ position: absolute; height: 170px; width: 100%; left: 0; top: -170px; background-color: #fff; }
// 新闻
.ty_bannar{ width: 100%; min-width: 1366px; position: relative;
	// img{ position: absolute; top: 0; left: 50%; ransform: translateX(-50%); -webkit-transform: translateX(-50%); height: 100%; }
	img{ width: 100%; display: block; }
}
.ty_news_list{ text-align: center; padding-bottom: 55px;
	.titles{ padding: 72px 0; margin-left: 8%; @extend .clearfix;
		li{ float: left; height: 40px; line-height: 40px; font-size: 16px; position: relative;
			&:first-child{
				a{ border-left: 0; }
			}
		}
		.on{ i{ width: 60px; height: 1px; position: absolute; bottom: 0; left: 50%; margin-left: -30px; background-color: #009ee7 } }
		a{ display: inline-block; height: 18px; line-height: 18px; padding: 0 26px; border-left: 1px solid #3e393b; }
	}
	.lists{ width: 1260px; margin: 0 auto; padding-top: 40px; text-align: left;
		li{ margin-bottom: 66px; height: 148px;
			&:hover{ box-shadow: 8px 8px 8px rgba(0,0,0,.18);
				.left{ background-color: #009ee7; color: #fff; }
			}
		}
		.left{ width: 182px; padding-left: 18px; height: 148px; float: left; font-size: 56px; color: #3e3a39;
			em{ display: block; font-size: 30px; }
		}
		.right{ width: 1000-20px; float: right; color: #3e3a39; padding: 20px 20px 0 0;
			h4{ font-size: 24px; }
			p{ font-size: 13px; color: #707473; line-height: 22px; }
		}
	}
	.more{ display: inline-block; width: 62px; height: 18px; text-align: center; line-height: 18px; background-color: #009ee7; font-size: 12px; color: #ffffff; }
}

// 动画
.ty_index_nums li,.ty_index_aboutIn img,.ty_index_aboutIn .right,.ty_index_aboutIn .more{
	opacity: 0;
	filter: alpha(opacity=0);
}
.an_toTop {
    animation: toTop 0.7s linear 0s;
    -webkit-animation: toTop 0.7s linear 0s;
    -ms-animation: toTop 0.7s linear 0s;
    animation-fill-mode : both;
    opacity: 1;
    filter: alpha(opacity=100);
}
.an_delay1{ animation-delay: 0.1s; }
.an_delay2{ animation-delay: 0.2s; }
.an_delay3{ animation-delay: 0.3s; }
.an_delay4{ animation-delay: 0.4s; }
.an_delay5{ animation-delay: 0.5s; }
.an_delay6{ animation-delay: 0.6s; }
.an_delay7{ animation-delay: 0.7s; }
.an_delay8{ animation-delay: 0.8s; }
.an_delay9{ animation-delay: 0.9s; }
.an_delay10{ animation-delay: 1s; }
@keyframes toTop{
	0%{ transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toTop{
	0%{-webkit-transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toTop{
	0%{-ms-transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}