.h5 .content {
  width: 100%;
}
.h5 .content img {
  margin-top: 50px;
}
.h5 .p {
  font-size: 14px !important;
  padding: 10px;
}
.h5 .main {
  height: auto;
  padding-top: 70px;
  padding-bottom: 20px;
}
.h5 .btns {
  top: 0px;
}
.h5 .barw {
  text-align: center;
  display: none;
}
.h5 .barw .bar {
  display: inline-block;
  position: relative;
}
.h5 .barw .bar img {
  width: 50%;
  margin: 0 auto;
}
.h5 .barw .bar span {
  z-index: 1;
  display: inline-block;
  writing-mode: lr-tb;
  width: 18px;
  font-size: 14px;
  line-height: 18px;
  padding: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -9px;
  color: #fff;
  background: #009e96;
}
.top {
  width: 100%;
  display: block;
}
.main {
  background: url('../img/aboutbg.png');
  height: 960px;
  background-size: cover;
  padding-top: 130px;
}
.swiper-container {
  margin-top: 130px;
}
.btns {
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -175px;
  top: 50px;
}
.btns .swiper-button-next {
  background: url('../img/next-act.png');
  background-position: center;
  background-repeat: no-repeat;
}
.btns .swiper-button-next.swiper-button-disabled {
  background: url('../img/next.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.btns .swiper-button-prev {
  background: url('../img/prev-act.png');
  background-position: center;
  background-repeat: no-repeat;
}
.btns .swiper-button-prev.swiper-button-disabled {
  background: url('../img/prev.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.barw {
  text-align: center;
  display: none;
}
.barw .bar {
  display: inline-block;
  position: relative;
}
.barw .bar span {
  z-index: 1;
  display: inline-block;
  writing-mode: lr-tb;
  width: 32px;
  font-size: 24px;
  line-height: 24px;
  padding: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -16px;
  color: #fff;
  background: #009e96;
}
.content {
  width: 820px;
  margin: 0 auto;
  opacity: 0;
}
.content img {
  width: 90% !important;
  display: block;
  margin: 0px auto;
  margin-top: 100px;
}
.content .p {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}
.swiper-slide-active .barw {
  display: block;
}
.swiper-slide-active .content {
  opacity: 1;
}
.swiper-wrapper {
  height: auto !important;
}
.swiper-slide {
  height: auto !important;
  padding-bottom: 50px;
}
.swiper-slide img {
  width: 100%;
  display: block;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #009e96 !important;
}
