html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #fff;
  font-family: "dinBold", "Helvetica", "Times", "Arial", "Helvetica Neue", "Helvetica", "Arial", "Microsoft Yahei", "微软雅黑", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.pc {
  width: 100%;
  height: 100%;
  overflow: auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cr {
  height: 87px;
  line-height: 87px;
  background: #fff;
  text-indent: 50px;
  color: #ccc;
  font-size: 12px;
}
.nav {
  position: absolute;
  top: 50px;
  left: 28px;
  z-index: 10;
  width: 140px;
}
.nav img {
  margin: 0 auto;
  display: block;
  width: 90%;
}
.nav .menu {
  margin-top: 35px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav .menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.nav .menu ul li {
  height: 40px;
  line-height: 40px;
}
.nav .menu ul li a {
  font-size: 18px;
  color: #bdbdbe;
  text-decoration: none;
  width: 100%;
  display: block;
  padding-left: 15px;
}
.nav .menu:hover {
  margin-top: 15px;
  padding-top: 20px;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
}
.nav .menu .home {
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  color: #bdbdbe;
  text-indent: 50px;
  position: relative;
}
.nav .menu .home .icon {
  height: 16px;
  top: 50%;
  left: 15px;
  margin-top: -8px;
  position: absolute;
}
.nav .menu .home .icon i {
  height: 2px;
  width: 25px;
  display: block;
  background: #009e96;
  position: relative;
}
.nav .menu .home .icon i:after,
.nav .menu .home .icon i:before {
  content: '';
  height: 2px;
  width: 25px;
  display: block;
  background: #009e96;
  position: absolute;
}
.nav .menu .home .icon i:after {
  top: 6px;
}
.nav .menu .home .icon i:before {
  bottom: -12px;
}
footer {
  background: #d4d4d4;
  height: 290px;
}
footer .cw {
  width: 960px;
  margin: 0 auto;
}
footer .cw .c {
  margin-left: 130px;
  margin-right: 110px;
}
footer .cw .c .logo {
  margin-top: 45px;
  width: 227px;
  height: 75px;
}
footer .cw .c .menu {
  display: inline-block;
  padding-top: 30px;
  float: left;
}
footer .cw .c .menu:nth-of-type(1) {
  margin-right: 40px;
}
footer .cw .c .menu:nth-of-type(2) {
  margin-right: 40px;
}
footer .cw .c .menu:nth-of-type(3) {
  margin-right: 40px;
}
footer .cw .c .menu .t {
  font-size: 17px;
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
}
footer .cw .c .menu .item {
  background: url('../img/triangle.png');
  background-repeat: no-repeat;
  background-size: 7px 9px;
  background-position: 0px center;
  text-indent: 15px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body.open #leftcontrol {
  transform: translate3d(0px, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
}
body.open .h5 {
  transform: translate3d(260px, 0, 0);
  -webkit-transform: translate3d(260px, 0, 0);
}
#leftcontrol {
  display: none;
  width: 260px;
  height: 100%;
  background: #1a1b1c;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(-260px, 0, 0);
  -webkit-transform: translate3d(-260px, 0, 0);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
#leftcontrol ul {
  padding: 0px;
  margin: 0px;
  padding-top: 50px;
  list-style: none;
}
#leftcontrol ul li {
  display: block;
  min-height: 49px;
  border-top: 1px solid #313233;
  font-size: 14px;
  width: 100%;
}
#leftcontrol ul li.act {
  background: #009e96;
}
#leftcontrol ul li.act a {
  color: #fff;
}
#leftcontrol ul li.act .circle {
  border-color: #fff;
  background-color: #fff;
  margin-right: 15px;
}
#leftcontrol ul li .circle {
  border: #D8D8D8 1px solid;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 15px;
}
#leftcontrol ul li a {
  font-family: "HELVETICANEUELTPRO-THEX";
  height: 50px;
  line-height: 51px;
  color: #b3b3b3;
  padding: 0px 25px;
  text-decoration: none;
  display: block;
}
.h5 {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-overflow-scrolling: touch;
}
.h5.move {
  transform: translate3d(260px, 0, 0);
  -webkit-transform: translate3d(260px, 0, 0);
}
.h5 .topBar {
  height: 50px;
  top: 0px;
  width: 100%;
  background: #1a1b1c;
  z-index: 100;
  position: relative;
}
.h5 .topBar .logo {
  width: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -55px;
}
.h5 .topBar .logo img {
  width: 100%;
}
.h5 .topBar .btn {
  margin-left: 20px;
  background: rgba(0, 0, 0, 0);
  position: relative;
  width: 30px;
  height: 50px;
}
.h5 .topBar .btn.act {
  background: url('../img/mclose.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.h5 .topBar .btn.act:after,
.h5 .topBar .btn.act::before {
  height: 0px;
}
.h5 .topBar .btn:after {
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
  background: #009e96;
  top: 17px;
}
.h5 .topBar .btn:before {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 17px;
  width: 100%;
  background: #009e96;
}
.h5 .mtopbg {
  display: block;
  width: 100%;
}
.h5 .foot {
  background: #6b6b6b;
  text-align: center;
  color: #a5a3a3;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.h5 .foot div {
  padding: 4px 0px;
}
.h5 .shade {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.h5 .shade .textw {
  display: table;
  height: 100%;
  width: 100%;
}
.h5 .shade .text {
  color: #009e96;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.h5 .shade .tip {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.h5 .shade .tip span {
  display: inline-block;
  color: #fff;
  background: #009e96;
  padding: 1px 5px;
  font-size: 12px;
  margin-right: 10px;
}
.h5 .mList {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-top: 1px solid #6b6b6b;
  list-style: none;
}
.h5 .mList li {
  float: left;
  width: 50%;
  position: relative;
  border-right: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  list-style: none;
}
.h5 .mList li img {
  width: 100%;
  display: block;
}
.swiper-wrapper {
  height: auto !important;
}
.swiper-slide {
  height: auto !important;
}
.swiper-slide img {
  width: 100%;
  display: block;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #009e96 !important;
}
@media screen and (max-width: 800px) {
  .pc {
    display: none;
  }
  .h5 {
    display: block;
  }
  #leftcontrol {
    display: block;
  }
}
