.top {
  height: 200px;
  background: #1e1f23;
}
.top .tw {
  padding-left: 200px;
  padding-right: 100px;
  padding-top: 50px;
}
.top .tw .t1 {
  color: #009e96;
  font-size: 18px;
}
.top .tw .t2 {
  color: #009e96;
  font-size: 30px;
  position: relative;
}
.top .tw .t2 .p {
  font-size: 16px;
  line-height: 22px;
  color: #8f8f91;
}
.h5 {
  background: #121212;
}
.h5 .foot {
  background: #121212;
}
.h5 .more {
  background: #029089;
  color: rgba(255, 255, 255, 0.8);
  /* display: inline-block; */
  margin: 0px auto;
  width: 100px;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.h5 .top {
  height: auto;
  background: #121212;
  padding: 20px 10px;
}
.h5 .top .t1 {
  color: #009e96;
  font-size: 14px;
}
.h5 .top .t2 {
  color: #009e96;
  font-size: 20px;
  position: relative;
  padding-bottom: 8px;
}
.h5 .top .tw {
  padding: 0px;
}
.h5 .top .p {
  font-size: 12px;
  line-height: 22px;
  color: #8f8f91;
}
.h5 .h5list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  margin: 0px 10px;
}
.h5 .h5list li {
  width: 50%;
  float: left;
  padding-right: 5px;
  text-align: center;
  padding-bottom: 20px;
}
.h5 .h5list li:nth-child(2n) {
  padding-left: 5px;
  padding-right: 0px;
}
.h5 .h5list li .t {
  color: #b7b7b7;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 12px;
}
.h5 .h5list li .d {
  color: #8f8f91;
  font-size: 12px;
}
.h5 .h5list li img {
  width: 100%;
  display: block;
}
.swiper-wrapper {
  height: auto !important;
}
.swiper-slide {
  height: auto !important;
}
.swiper-slide img {
  width: 100%;
  display: block;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #009e96 !important;
}
.main {
  background: #1e1f23;
  padding-top: 180px;
}
.main ul {
  width: 1200px;
  padding: 0px;
  margin: 0px auto;
  list-style: none;
  overflow: hidden;
}
.main ul li {
  float: left;
  width: 33.3%;
  padding: 0px 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.main ul li:nth-child(3n) {
  border-right: 0px;
}
.main ul li img {
  width: 100%;
  display: block;
}
.main ul li .t {
  color: #8f8f91;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.main ul li .p {
  color: #8f8f91;
  font-size: 13px;
}
.bw {
  text-align: center;
  padding: 50px;
  background: #1e1f23;
}
