body.lock {
  overflow: hidden;
}
.load {
  height: 140px;
  line-height: 140px;
  font-size: 55px;
  color: #009e96;
  text-align: center;
  background: #1e1f23;
  cursor: pointer;
}
.grid {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.grid li {
  background: gray;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  float: left;
  display: block;
  width: 20%;
  position: relative;
}
.grid li.c3 {
  width: 60%;
}
.grid li.nb {
  border-right: 3px solid #000;
}
.grid li:hover .shade {
  background: rgba(0, 0, 0, 0.3);
}
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}
.grid li .shade {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.grid li .shade .textw {
  display: table;
  height: 100%;
  width: 100%;
}
.grid li .shade .text {
  color: #009e96;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.grid li .shade .tip {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.grid li .shade .tip span {
  display: inline-block;
  color: #fff;
  background: rgba(0, 158, 150, 0.7);
  padding: 1px 10px;
  font-size: 16px;
  margin-right: 10px;
}
.des {
  background: #1e1f23;
  height: 410px;
}
.des .t {
  padding-top: 65px;
  text-align: center;
  color: #009e96;
  font-size: 29px;
}
.newframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 100;
}
.newframe .newframe-wrap {
  width: 100%;
  height: 100%;
  display: table;
}
.newframe .newframe-inner {
  display: table-cell;
  vertical-align: middle;
}
.newframe .inner-right {
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
}
.newframe .inner-right a {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.newframe .inner-right a b {
  display: block;
  height: 0px;
  width: 24px;
  position: absolute;
  bottom: 0;
  left: 18px;
  background: #2a2a2a;
  visibility: visible;
  opacity: 1;
}
.newframe .inner-right a:hover b {
  visibility: hidden;
  opacity: 0;
}
.newframe .inner-right .share {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  background: #e0244d url('../img/shareh.png') no-repeat 50% 50%;
}
.newframe .inner-right .close {
  background: #242424 url('../img/close.png') no-repeat 50% 50%;
}
.newframe .inner-right .close:hover {
  background: #e0244d url('../img/closeh.png') no-repeat 50% 50%;
}
.newframe .inner-right .weibo {
  background: #242424 url('../img/weibo.png') no-repeat 50% 50%;
}
.newframe .inner-right .weibo:hover {
  background: #e0244d url('../img/weiboh.png') no-repeat 50% 50%;
}
.newframe .inner-right .tt {
  background: #242424 url('../img/tt.png') no-repeat 50% 50%;
}
.newframe .inner-right .tt:hover {
  background: #e0244d url('../img/tth.png') no-repeat 50% 50%;
}
.newframe .inner-right .douban {
  background: #242424 url('../img/douban.png') no-repeat 50% 50%;
}
.newframe .inner-right .douban:hover {
  background: #e0244d url('../img/doubanh.png') no-repeat 50% 50%;
}
.newframe .inner-right .renren {
  background: #242424 url('../img/renren.png') no-repeat 50% 50%;
}
.newframe .inner-right .renren:hover {
  background: #e0244d url('../img/renrenh.png') no-repeat 50% 50%;
}
.newframe .inner-right .weixin {
  background: #242424 url('../img/weixin.png') no-repeat 50% 50%;
}
.newframe .inner-right .weixin:hover {
  background: #e0244d url('../img/weixinh.png') no-repeat 50% 50%;
}
.newframe .open-news {
  width: 1000px;
  padding: 100px 150px;
  margin: 0 auto 50px;
  position: relative;
  background: #1e1f23;
}
.newframe.show {
  opacity: 1;
  visibility: visible;
}
.newframe .news-inner .t {
  color: #009e96;
  font-size: 31px;
}
.newframe .news-inner img {
  width: 100%;
  display: block;
  margin: 40px 0px;
}
.newframe .news-inner p {
  color: #dcdcdc;
  font-size: 15px;
  line-height: 24px;
  text-indent: 30px;
}
.h5 {
  height: 100%;
}
.h5 .wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}
.h5 .wrap.lock {
  overflow: hidden;
}
.h5 .close {
  width: 28px;
  height: 28px;
  position: absolute;
  background: url('../img/mclose.png');
  z-index: 100;
  right: 0px;
  top: 0px;
}
.h5 .h5addmore {
  background: #181818;
  font-size: 12px;
  color: #828281;
  text-align: center;
  padding: 10px;
}
.h5 .mnewframe {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  padding: 30px;
}
.h5 .mnewframe img {
  width: 100%;
}
.h5 .mnewframe .wrap {
  position: relative;
  overflow: auto;
}
.h5 .mnewframe.show {
  display: block;
}
.h5 .mnewframe .news-inner .t {
  font-size: 18px;
  color: #009e96;
}
.h5 .mnewframe .news-inner p {
  font-size: 14px;
  color: #dcdcdc;
}
.h5 .mnewframe .news-inner img {
  margin: 20px 0px;
}
.h5 .mnewframe .open-news {
  width: 100%;
  /* padding: 100px 150px; */
  margin: 0px;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
}
