.top {
  display: block;
  width: 100%;
}
.h5 .t {
  padding: 10px 10px;
  padding-bottom: 20px;
  color: #009e96;
}
.h5 .t .t1 {
  font-size: 16px;
  padding-bottom: 10px;
}
.h5 .t .t2 {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  padding-bottom: 5px;
}
.h5 .t .p {
  display: inline;
  font-size: 12px;
  line-height: 20px;
  color: #8f8f91;
}
.h5 .listview ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.h5 .listview ul li {
  padding: 10px;
  text-align: center;
}
.h5 .listview ul li img {
  width: 100%;
}
.h5 .listview ul li .text {
  color: #fff;
  padding: 10px;
}
.h5 .listview ul li a {
  text-decoration: none;
}
body {
  background: #1e1f23;
}
.bw {
  text-align: center;
  padding: 50px;
}
.btn {
  font-size: 24px;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #8f8f91;
  color: #8f8f91;
  display: inline-block;
}
.btn:hover {
  color: #009e96;
  border-color: #009e96;
}
.main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}
.main .t {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 70px;
  color: #009e96;
}
.main .t .t1 {
  font-size: 24px;
  padding-bottom: 20px;
}
.main .t .t2 {
  font-size: 54px;
  line-height: 54px;
  position: relative;
}
.main .t .p {
  position: absolute;
  right: 0px;
  bottom: 4px;
  left: 300px;
  display: inline;
  font-size: 20px;
  line-height: 22px;
  color: #8f8f91;
}
.main .listview {
  overflow: hidden;
}
.main .listview ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.main .listview ul li {
  width: 50%;
  float: left;
  padding: 25px;
}
.main .listview ul li:hover img {
  border: 5px solid #009e96;
}
.main .listview ul li:hover .text {
  color: #009e96;
}
.main .listview ul li img {
  width: 100%;
  border: 5px solid transparent;
}
.main .listview ul li a {
  text-decoration: none;
}
.main .listview ul li .text {
  color: #fff;
  padding: 50px 0px;
  text-align: center;
  font-size: 28px;
}
