@charset "utf-8";
%ty_icon { background: url("../images/ty_sp.png") no-repeat 0 0; }
%ty_icon2 { background: url("../images/ty_sp2.png") no-repeat 0 0; }
%ty_red_bac { background: url('../images/ty_red_bac.png'); }
%ty_black_bac { background: url('../images/ty_black_bac.png'); }
%ty_black_bac15 { background: url('../images/blackbac15.png'); }

// 公共部分
.happy_header{ position: fixed; top: 0; left: 0; width: 1280px; height: 58px; background-color: #fff; @extend .clearfix; left: 50%; margin-left: -640px;
	.logo{ float: left; margin: 12px 0 0 74px; @extend .clearfix; padding-right: 50px; border-right: 2px solid #e1e1e1;
		img{ display: block; float: left; }
	}
	.nav{ float: right; height: 58px; line-height: 58px; margin-right: 100px;
		.list1{ @extend .clearfix; font-size: 12px;
			>li{ width: 80px; float: left; text-align: center;
				&:hover{
					.list2{ display: block; }
					>span,>a{border: 1px solid #e2497b; color: #d8074b; 
						.icon_down{ display: block; }
					}
				}
			}
			>li>span,>li>a{ color: #727171; cursor: pointer; display: inline-block; height: 26px; vertical-align: middle; line-height: 26px; padding: 0 3px; position: relative; 
			}
			.icon_down{ display: none; width: 7px; height: 4px; position: absolute; right: -14px; top: 12px; @extend %ty_icon; background-position: 0 -260px; }
			.on{ 
				.icon_down{ display: block; }
				>a,span{border: 1px solid #e2497b; color: #d8074b;} 
			}
		}
		.list2{ display: none; border-top: 5px solid #d7074b; width: 110px; padding: 0 10px; @extend %ty_black_bac15; margin-left: 20px;
			li{ height: 36px; line-height: 36px; border-top: 1px dashed #727171; text-align: left;
				a{ color: #c7c8c8; }
				&:first-child{ border-top: 0; }
				&:hover a{ color: #fff; 
					.r{ display: block; margin-right: 10px; }
				}
			}
			.r{ display: none; float: right; color: #fff; }
		}
	}
}
.happy_content{ padding-top: 58px; width: 1280px; margin: 0 auto; }
.happy_footer{ width: 1280px; height: 65px; line-height: 65px; position: relative; margin: 0 auto;
	.t1{ padding-right: 50px; color: #807f80; font-size: 13px; text-align: right; background-color: #dedfdf; }
	.icon_bottom{ display: block; position: absolute; right: 0; top: -167px; width: 170px; height: 167px; @extend %ty_icon2; background-position: 0 -466px; }
}
.happy_titbar{ display: inline-block; width: 160px; height: 20px; border: 1px solid #b5b5b5; text-align: center;
	.t1{ display: inline-block; color: #3e3a39; font-size: 22px; line-height: 24px; background-color: #fff; position: relative; top: -12px; padding: 0 2px; }
	.t2{ display: inline-block; font-size: 10px; line-height: 12px; color: #727171; background-color: #fff; position: relative; top: -12px; padding: 0 2px; }
}
.happy_con_in{ text-align: center; }
.happy_line{ display: block; height: 0px; width: 100%; border-bottom: 3px dotted #c7c8c8; 
	.pointl,.pointr{ width: 3px; height: 3px; background-color: #d7074b; }
	.pointl{ float: left; }
	.pointr{ float: right; }
}
// 首页
// 招聘
.happy_all_width{ width: 1280px; margin: 0 auto; padding: 50px 0;
	.img_room{ width: 100%; display: block; }
}
.happy_ZP_content{ width: 810px; margin: 0 auto; text-align: left; 
	.tit{ padding-top: 18px; height: 60px; line-height: 60px; font-size: 19px; color: #3e3a39; }
	.detial{ color: #727171; font-size: 15px; height: 74px; line-height: 74px; }
}
.happy_ZP_all{ padding-top: 42px; padding-bottom: 50px; width: 810+240px; margin-left: -240px; @extend .clearfix; }
.happy_ZP_allP{ float: left; width: 285px; margin-left: 240px; 
	.on{
		.titIt{ color: #d7074b; 
			.icon_down{  background-position: -99px -142px; margin-top: 11px; }
		}
		.allit{ display: block; }
	}
}
.happy_ZP_thing{ width: 285px; 
	.titIt{ height: 40px; line-height: 40px; font-size: 15px; color: #727171; 
		.icon_down{  width: 19px; height: 18px;float: right; @extend %ty_icon; background-position: -99px -124px; margin-top: 11px; cursor: pointer; }
	}
	.allit{ padding: 10px 25px 20px 25px; background-color: #efeef3; display: none; transition: all .9s linear; -webkit-transition: all .9s linear;
		h5{ color: #868586; font-size: 11px; line-height: 20px; }
		p{ color: #626262; font-size: 10px; line-height: 15px; }
	}
}

.oh{ overflow: hidden; }
.newframe{ position:fixed; top:0; left:0; width:100%; height:100%; overflow-x:hidden; overflow-y:auto; visibility:hidden; opacity:0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
 }
.newframe-wrap { width: 100%; height: 100%; display: table; position: relative; z-index: 2; }
.ty_wrapbac{ position: absolute; left: 0;top: 0; z-index: 1; width: 100%; height: 100%; display: table; @extend %ty_black_bac; }
.newframe-inner { display: table-cell; vertical-align: middle; }
.newframe.show{ opacity:1; visibility:visible; 
	.inner-right a b{ visibility:visible; }
}
.open-news { width: 940px; margin: 0px auto 0 auto; position: relative; background: #fff; }
.inner-right{ position:absolute; top:0; right:-60px; width:60px; }
.inner-right a{ width:60px; height:60px; display:block; position:relative;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
 }

.inner-right{ 
	.share{ width:60px; height:60px; display:block; position:relative; background:#e0244d url('../images/shareh.png') no-repeat 50% 50%; }
	.close{ background:#242424 url('../images/close.png') no-repeat 50% 50%; }
	.close:hover{ background:#e0244d url('../images/closeh.png') no-repeat 50% 50%; }
	.weibo{ background:#242424 url('../images/weibo.png') no-repeat 50% 50%; }
	.weibo:hover{ background:#e0244d url('../images/weiboh.png') no-repeat 50% 50%; }
	.weixin{ background:#242424 url('../images/weixin.png') no-repeat 50% 50%; }
	.weixin:hover{ background:#e0244d url('../images/weixinh.png') no-repeat 50% 50%; }
	a:hover b{ visibility:hidden; opacity:0; }
	a b{ display:block; height:1px; width:24px; position:absolute; bottom:0; left:18px; background:#2a2a2a;  opacity:1; visibility:hidden;
	    -webkit-transition: all .3s ease-out;
	    -moz-transition: all .3s ease-out;
	    transition: all .3s ease-out;
	 }
}
.crumbs li{ display:block; float:left; margin:0 2px; font-size:13px; color:#666; line-height:25px; }
.crumbs li a{ display:block; font-size:13px; color:#666; line-height:25px; }
.news-inner{ padding:40px 60px 60px; 
	.news-ct{ line-height: 18/9.6*14.4px; color: #878787; font-size: 18/9.6*5.76px }
	.pic{ margin-top: 20px;
		img{ width: 640px; display: block; margin: 0 auto; }
		.aboutpic{ padding-top: 10px; text-align: center; }
	}
	.text{ margin-top: 20px; }
	.btns{ margin-top: 12px; 
		a{ float: left; height: 24px; line-height: 24px; padding: 0 8px; background-color: #ce2240; color: #fff; margin-right: 1px; }
	}
}
.open-news{ width:940px; margin:0px auto 0 auto; position:relative; z-index: 2; background:#fff; }

.news-article h4.maintitle{ color:#000; height:48px; line-height:50px; display:block; font-weight:500; font-size:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-bottom: 20px; }
.news-article h5.subtitle{ border-top:2px solid #878787; color:#666; padding:22px 0 10px 0; font-size:14px; }

.ty_phone_bac{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: block; z-index: 5; background: rgba(0,0,0,0.2); display: none; }
.ty_phone_title{ display: none; cursor: pointer; }
@media screen and (min-width:1px) and (max-width:1019px){
	body,.ty_all,.ty_content,.ty_footerIn{ width: 100%; }
	body .ty_content{ padding-top: 53px; }
	
	.open-news{ width: 100%; margin-bottom: 0; }
	.news-article h4.maintitle{ text-align: center; padding-bottom: 0; height: 53px; line-height: 53px; }
	.news-article h5.subtitle{ padding: 10px 0; }
	.news-inner .pic img{ width: 80%; }
	.news-inner .text{ margin-top: 10px; }
	.newframe{ -webkit-overflow-scrolling : touch; top: 0; left: 0; bottom: 0; right: 0; z-index: 5; }
	.news-inner{ padding: 53px 10px 10px; }
	.ty_wrapbac{ display: none; }
	.news-inner .news-ct{ font-size: 12px; }
	body .newframe_about{ 
		.open-news{ margin-top: 0; width: 100%; }
		.news-inner{ padding: 10px; }
		.news-inner .pic{ margin-top: 0; }
		.news-inner .pic img{ width: 100%; margin: 0; }
		.news-inner .text{ padding: 15px; margin-top: 0 ; line-height: 24px; margin-bottom: 10px; font-size: 13px; }
		.name{ font-size: 24px; height: 40px; line-height: 40px; font-weight: 500; color: #434343; margin-bottom: 10px; 
			em{ font-size: 18px; color: #999; margin-left: 10px; }
		}
	}
	body .ty_iframe{ width: 100%; box-sizing:border-box; padding: 0 10px; }
	body .newframe_about .ty_iframe{ width: 100%; box-sizing:border-box; padding: 0; padding-top: 50px; }
	body .newframe_aboutO .open-news{ top: 0px; }
}
.newframe_about{ 
	.open-news{ margin-top: 0; width: 680px; }
	.ty_iframe{ width: 680px; padding: 0; }
	.news-inner{ padding: 10px; }
	.news-inner .pic{ margin-top: 0; }
	.news-inner .pic img{ width: 660px; margin: 0; }
	.news-inner .text{ padding: 25px 25px 0px 25px; margin-top: 0 ; line-height: 24px; margin-bottom: 10px; font-size: 13px; }
	.name{ font-size: 24px; height: 40px; line-height: 40px; font-weight: 500; color: #434343; margin-bottom: 10px; 
		em{ font-size: 18px; color: #999; margin-left: 10px; }
	}
}
// 修改新增
.ty_small_con_hide{ display: none; }
.ty_iframe{ width: 940-60-60px; padding: 0 60px; overflow: hidden; }
.newframe_aboutO .open-news{ top: 15px; }